<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
</head>
<body>
    <h1>SIMPLE-FORM HANDLING</h1>
    <form method="POST" action="/form_submit">
    <input type="text" placeholder="username" name="username" value="">
    <input type="email" placeholder="email" name="email" value="">
    <input type="submit">
    </form>
    
</body>
</html>